html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #2296c3;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  /* background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;  */
}

.bkgdiv {
  width: 97%;
  margin: 40px auto;
  background-color: #FF9500;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

form {
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 2px black;
}

img {
  display: block;
  margin: 0 auto;
}